@import "../../BaseStyles.scss";
cursor {
  cursor: pointer;
}
.header {
  background: $PrimaryLight;
  //background: #ff4423;
  height: 124px;
  overflow: hidden;
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1420px;
    margin: auto;
    margin-top: 40px;

    .left {
      flex: 1;
      @extend cursor;
      h1 {
        font-family: "Plus Jakarta Sans", sans-serif;
        font-size: $BType32;
        color: $PrimaryDark;
      }
    }
    .center {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      @extend cursor;
      .search-bar {
        border: 1px solid #c3d4e9;
        width: 450px;
        height: 44px;
        display: flex;
        //justify-content: space-between;
        align-items: center;
        border-radius: 40px;
        padding: 10px;

        img {
          margin-right: 10px;
        }
        input {
          border: none;
          margin-right: 200px;
          &:focus {
            outline: none;
          }
        }
        // img {
        // }
      }
    }
    .right {
      flex: 1;
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 20px;
      .favorite {
        border: 1px solid #c3d4e9;
        padding: 8px;
        border-radius: 50%;
        display: flex;
        @extend cursor;

        // img {
        // }
      }
      .notification {
        border: 1px solid #c3d4e9;
        padding: 8px;
        border-radius: 50%;
        display: flex;
        position: relative;
        @extend cursor;

        .dot {
          top: -2px;
          right: 3px;
          background: #ff4423;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          position: absolute;
        }
        // img {
        // }
      }
      .setting {
        border: 1px solid #c3d4e9;
        padding: 8px;
        border-radius: 50%;
        display: flex;
        @extend cursor;

        // img {
        // }
      }
      .profile {
        @extend cursor;
        display: flex;
      }
    }
  }
}
