@import "../../BaseStyles.scss";

.footer {
  height: 400px;
  background: $PrimaryLight;
  font-family: "Plus Jakarta Sans", sans-serif;
  .footer-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
      flex: 1;
      margin-left: 30px;
      h1 {
        font-size: $BType32;
        color: $PrimaryDark;
      }
      p {
        font-size: $MType16;
        color: $SecLight400;
      }
    }

    .right {
      flex: 1;
      .detailed {
        display: flex;
        justify-content: space-evenly;
        margin-top: 100px;
        .about {
          h2 {
            font-size: $SType20;
            color: $SecDarkDefault;
          }
          ul {
            list-style: none;
            margin-top: 20px;
            li {
              margin-top: 20px;
              margin-bottom: 20px;
              font-size: $MType16;
              color: $SecLight400;
            }
          }
        }
        .community {
          h2 {
            font-size: $SType20;
            color: $SecDarkDefault;
          }
          ul {
            list-style: none;
            margin-top: 20px;
            li {
              margin-top: 20px;
              font-size: $MType16;
              color: $SecLight400;
            }
          }
        }
        .socials {
          h2 {
            font-size: $SType20;
            color: $SecDarkDefault;
          }
          ul {
            list-style: none;
            margin-top: 20px;
            li {
              margin-top: 20px;
              font-size: $MType16;
              color: $SecLight400;
            }
          }
        }
      }
    }
  }
  hr {
    background: $SecLight300;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  h4 {
    font-size: $SType16;
    color: $SecDarkDefault;
    display: inline;
    margin-left: 30px;
  }
  .terms {
    display: inline;
    margin-left: 1000px;

    h4 {
      font-size: $SType16;
      color: $SecDarkDefault;
    }
  }
}
